<section>
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Your email</mat-label>
            <input 
            type="email" 
            matInput
            formControlName="email">
            <mat-hint>Please enter a valid email.</mat-hint>
            <mat-error>Invalid or missing email.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Your password</mat-label>
            <input 
            type="password" 
            matInput
            formControlName="password">
            <mat-hint>Please enter your password.</mat-hint>
            <mat-error>Invalid or missing password.</mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Submit</button>
    </form>
</section>